<manifest package="com.letv.sarrsdesktop.blockcanaryex.jrt"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.DisplayActivity"
            android:process=":blockcanaryex"
            android:enabled="false"
            android:icon="@drawable/block_canary_ex_icon"
            android:label="@string/block_canary_ex_display_activity_label"
            android:taskAffinity="com.letv.sarrsdesktop.blockcanaryex"
            android:theme="@style/block_canary_ex_BlockCanary.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".internal.BlockSamplerService"
            android:process=":blockcanaryex"/>

    </application>

</manifest>
